html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  position: relative;
  transition: all 250ms ease-in;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid:hover {
  transform: rotate(0deg);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  left: 30%;
  bottom: 20px;
}

.polaroid:first-child {
  left: 300px;
  top: 200px;
  transform: rotate(-20deg);
}

.polaroid:nth-child(2) {
  left: 400px;
  top: 150px;
  transform: rotate();
}

.polaroid:last-child {
  left: 600px;
  top: -100px;
  transform: rotate();
}
